body {
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
  }

span {
    font-size: 2rem;
}

.hero{
    background-image: url('../img/FOTO.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    margin-top: 50px;
    }
  
    @media only screen and (max-width: 600px) {
      .hero{ 
        height: 350px;
        margin-top: 60px;
      };
    }

.iconos {
    font-size: 8rem;
  }

  .carrusel {
      border-radius: 50px;
  }

  .carousel-indicators {
    top: 50px;
  }
  
  .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }